//
// Contact form

.marble-page-nav {
    padding: 0 2rem;
    display: block;

    img {
        width: 5rem;

        @include media-breakpoint-up(md) {
            width: 8rem;
        }
    }
}

.marble-page {
    padding: 2rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    &.yellow {
      background-image: url('/static/backgrounds/home-hero-rocks.jpg');
    }


    h1 {
        font-family: $marble-serif;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            font-size: 3.5rem;
        }
    }

    .marble-rock {
        @include media-breakpoint-up(md) {
            position: relative;
            left: -3rem;
        }
    }
}

.marble-page-content {
    font-weight: 500;
    margin: 0;
    padding: 4rem 4rem 3rem 4rem;

    @include media-breakpoint-up(md) {
        padding: 5rem 4rem 4rem 4rem;
    }
}

.server-messages {
  min-height: 500px;
}
