/* Marble Stylesheet */

@import 'variables';
@import 'bootstrap-includes';


//
// Styles

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gutter: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: ($font-size-root * 1.10);
  }

  @include media-breakpoint-up(lg) {
    --gutter: 2rem;
    font-size: ($font-size-root * 1.15);
  } 
  
  @include media-breakpoint-up(xl) {
    font-size: ($font-size-root * 1.35);
  }
}

body {
  background-color: $marble-gray__light;
  font-size: inherit;
}

li {
  line-height: 1.15;
  margin: 0.75rem 0;
  list-style: none;
  font-weight: 500;

  &:before {
    content: "—";
    display: inline-block; 
    width: 1em; 
    margin-right: 0.25rem;
  }
}

.marble-footer {
  padding: 3rem var(--gutter);
  background-color: $marble-gray__dark;

  img {
    filter: invert(1);
    max-width: 14rem;
  }


  @include media-breakpoint-up(md) {
    img, 
    p {
      width: 25%;
    }
  }
}


@import 'typography';

// 
// Components 

.marble-rock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  ul {
    padding: 0 10%;
  }
}

.marble-rock-row {
  @include media-breakpoint-up(lg) {
    margin: 0 -3rem;
  }
}

.marble-rock-wide {
  width: 100%;
}




// 
// Buttons 

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-outline-primary {
  color: $marble-brown;
}

@import 'home';